@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="contaier-fluid">
    <img src="~/TemplateTraSua/Resource/bg-2.jpg" />
</div>
<div class="container-2-text">
    <div class="border-1">
        <hr>
    </div>
    <div class="border-text">
        <span>New Arrivals</span>
    </div>
    <div class="border-1">
        <hr>
    </div>
</div>
<div class="container-3-text">
    <p>Chào các bạn đến với thiên đường vị giác của Bumba, Menu Bumba rất đa dạng món uống, dùng để đáp ứng khẩu vị "ưa chua chuộng béo" của bạn. Order và thưởng thức ngay nhé</p>
</div>
<div class="container-muti-item">
    <div class="item">
        <img src="~/TemplateTraSua/anh-layer/img-layer-1.jpg" class="img-1" alt="">
        <img src="~/TemplateTraSua/anh-layer/img-layer-1-2.jpg" class="img-2" alt="">
        <div class="quick-view">
            <a href="">Quick View</a>
        </div>
        <div class="name-n-price">
            <a href="">Caramel Milk Tea</a>
            <br>
            <a href="">35,000 VND</a>

        </div>
    </div>
    <div class="item">
        <img src="~/TemplateTraSua/anh-layer/img-layer-3.jpg" class="img-1" alt="">
        <img src="~/TemplateTraSua/anh-layer/img-layer-3-1.jpg" class="img-2" alt="">

        <div class="quick-view">
            <a href="">Quick View</a>
        </div>
        <div class="name-n-price">
            <a href="">Oat Milk Tea</a>
            <br>
            <a href="">35,000 VND</a>

        </div>
    </div>
    <div class="item">
        <img src="~/TemplateTraSua/anh-layer/img-layer-2.jpg" class="img-1" alt="">
        <img src="~/TemplateTraSua/anh-layer/img-layer-2-1.jpg" class="img-2" alt="">

        <div class="quick-view">
            <a href="">Quick View</a>
        </div>
        <div class="name-n-price">
            <a href="">Grass Jerry Fresh Milk</a>
            <br>
            <a href="">35,000 VND</a>

        </div>

    </div>
    <div class="item">
        <img src="~/TemplateTraSua/anh-layer/img-layer-4.jpg" class="img-1" alt="">
        <img src="~/TemplateTraSua/anh-layer/img-layer-4-1.jpg" class="img-2" alt="">

        <div class="quick-view">
            <a href="">Quick View</a>
        </div>
        <div class="name-n-price">
            <a href="">Matcha Milk Tea</a>
            <br>
            <a href="">35,000 VND</a>
        </div>
    </div>
</div>
<div class="container-muti-item">
    <div class="item">
        <img src="~/TemplateTraSua/anh-layer/img-layer-1.jpg" class="img-1" alt="">
        <img src="~/TemplateTraSua/anh-layer/img-layer-1-2.jpg" class="img-2" alt="">
        <div class="quick-view">
            <a href="">Quick View</a>
        </div>
        <div class="name-n-price">
            <a href="">Caramel Milk Tea</a>
            <br>
            <a href="">35,000 VND</a>

        </div>
    </div>
    <div class="item">
        <img src="~/TemplateTraSua/anh-layer/img-layer-3.jpg" class="img-1" alt="">
        <img src="~/TemplateTraSua/anh-layer/img-layer-3-1.jpg" class="img-2" alt="">

        <div class="quick-view">
            <a href="">Quick View</a>
        </div>
        <div class="name-n-price">
            <a href="">Oat Milk Tea</a>
            <br>
            <a href="">35,000 VND</a>

        </div>
    </div>
    <div class="item">
        <img src="~/TemplateTraSua/anh-layer/img-layer-2.jpg" class="img-1" alt="">
        <img src="~/TemplateTraSua/anh-layer/img-layer-2-1.jpg" class="img-2" alt="">

        <div class="quick-view">
            <a href="">Quick View</a>
        </div>
        <div class="name-n-price">
            <a href="">Grass Jerry Fresh Milk</a>
            <br>
            <a href="">35,000 VND</a>

        </div>

    </div>
    <div class="item">
        <img src="~/TemplateTraSua/anh-layer/img-layer-4.jpg" class="img-1" alt="">
        <img src="~/TemplateTraSua/anh-layer/img-layer-4-1.jpg" class="img-2" alt="">

        <div class="quick-view">
            <a href="">Quick View</a>
        </div>
        <div class="name-n-price">
            <a href="">Matcha Milk Tea</a>
            <br>
            <a href="">35,000 VND</a>

        </div>
    </div>

</div>
<div class="btn">
    <a class="btn-shop-all" href="/Home/ShopAll">Shop All</a>
</div>