
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DangNhap</title>
    <link href="~/TemplateTraSua/css/styleLogin.css" rel="stylesheet" />
</head>
<body>
    <div class="login-page">
        <div class="form">

            <form class="login-form">
                <input name="userName" type="text" placeholder="username" />
                <input name="passWord" type="password" placeholder="password" />
                <button type="submit">Đăng Nhập</button>

            </form>
        </div>
    </div>

    
</body>

</html>
